spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${RDS_URL}
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  h2:
    console:
      enabled: false
  thymeleaf:
    cache: true

server:
  port: ${SERVER_PORT:8080}
  use-forward-headers: true
  forward-headers-strategy: framework
  error:
    include-stacktrace: never
    include-message: never
    include-binding-errors: never

logging:
  level:
    root: INFO
    com.divary: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: WARN

springdoc:
  swagger-ui:
    use-root-path: true
  servers:
    - url: https://hackathon2026.kro.kr/swagger-ui/index.html#/
      description: Production server

cloud:
  aws:
    s3:
      bucket: ${S3_BUCKET}
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ${AWS_REGION:ap-northeast-2}
    stack:
      auto: false

